html,body{
	/*强制网页显示为全屏大小,横向不可滚动纵向可以滚动*/
    margin: 0;
    max-width: 100%;
	min-height: 100%;
    overflow-x: hidden;
}
.test_box_style_1{
	/*测试风格1*/
    background-color: #ff0000;
    border-style: inset;
    border-color: #797979;
}
.test_box_style_2{
	/*测试风格2*/
    background-color: #00ff00;
    border-style: inset;
    border-color: #797979;
}
.test_box_style_3{
	/*测试风格3*/
    background-color: #0000ff;
    border-style: inset;
    border-color: #797979;
}
.test_box_style_4{
	/*测试风格4*/
    background-color: #ff00ff;
    border-style: inset;
    border-color: #797979;
}
.test_box_style_5{
	/*测试风格5*/
    background-color: #00ffff;
    border-style: inset;
    border-color: #797979;
}
.common_box_1{
    /*常规格子深灰底黑色边框*/
    background-color: #7f7f7f;
    border: thick inset #000000;
}
.child_common_box_1 >*{
    /*子节点深灰底黑色边框*/
    background-color: #7f7f7f;
    border: thick inset #000000;
}
.common_box_2{
    /*常规格子浅灰底灰色边框*/
    background-color: #D7D7D7;
    border: thick inset #7f7f7f;
}
.child_common_box_2 >*{
    /*子节点浅灰底灰色边框*/
    background-color: #D7D7D7;
    border: thick inset #7f7f7f;
}
.common_box_3{
    /*常规格子白底浅灰边框*/
    background-color: #ffffff;
    border: thick inset #D7D7D7;
}
.child_common_box_3 >*{
    /*子节点白底浅灰边框*/
    background-color: #ffffff;
    border: thick inset #D7D7D7;
}
.common_child_pos_limit_5{
    /*常规子节点位置限制*/
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.common_child_pos_limit_10{
    /*常规子节点位置限制*/
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.common_child_spacing_limit_5 *{
	/*常规子节点间距限制*/
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.common_child_spacing_limit_10 *{
	/*常规子节点间距限制*/
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.child_box >*{
	/*子类设置为常规格子*/
    background-color: #D7D7D7;
    border-style: inset;
    border-color: #797979;
}
.file_container_size >*{
	/*子类被设置为文件格子*/
    width: 150px;
    height: 225px;
    float: left;
}
.sidebar-checkbox ul li {
	/*去掉列表圆点*/
    list-style-type: none;
}
.child_list_notype * li{
	/*去掉列表圆点*/
	list-style-type: none;
}
.fill_parent{
	width: 100%;
	height: 100%;
}
.FT-header {
    width: 100%;
    height: 150px;
	max-height: 12%;
	min-height: 6%;
	/*
    position: absolute;
    top: 0px;
    bottom: auto;
	*/
    text-align: center;
    overflow-x: auto;
    z-index: 3;
}
.FT-header_container {
	min-width: 700px;
}
.toolbar-left-menus {
}
.toolbar-logo *{
	width: 100px;
	height: 100px;
}
.FT-body {
    width: 100%;
    /*
    top: 200px;
    bottom: 100px;
	*/
    z-index: 2;
	display: flex;
}

.FT-footer {
    width: 100%;
    height: 100px;
	max-height: 8%;
	min-height: 4%;
	/*
    position: absolute;
    top: auto;
    bottom: 0px;
	*/
    z-index: 1;
    text-align: center;
}
.index-sidebar {
    width: 300px;
    max-width: 30%;
    height: inherit;
    float: left;
    overflow-y: auto;
}
.sidebar-browse >*{
    margin-bottom: 10px;
}
.sidebar-checkbox >ul{
    list-style-type: none;
}
.sidebar-checkbox_single >*{
	/*单选列表父容器用*/
	display: list-item;
}
.sidebar-checkbox_multiple >*{
	/*多选列表父容器用*/
	display: list-item;
}
.file-choose{
    height: inherit;
    width: 100%;
    background-color: #797979;
    overflow-y: auto;
    overflow-x: hidden;
    border: thick solid #797979;
}
.file-choose-filter {
    margin-left: 10px;
    margin-right: 10px;
}


.child_horizontal >* {
    display: inline;
    text-align: center;
}
.child_vertical >* {
	align-self:center;
}
.child_size_limit >*{
    overflow-x: auto;
    overflow-y: auto;
}