html,body{
	/*强制网页显示为全屏大小,横向不可滚动纵向可以滚动*/
    margin: 0;
    max-width: 100%;
	min-width:600px;
	min-height: inherit;
    overflow-x: auto;
}
.file_container_size >*{
	/*子类被设置为文件格子*/
    width: 150px;
    height: 225px;
    float: left;
}
.sidebar-checkbox ul li {
	/*去掉列表圆点*/
    list-style-type: none;
}
.child_list_notype * li{
	/*去掉列表圆点*/
	list-style-type: none;
}
.fill_parent{
	width: 100%;
	height: 100%;
}
.FT-header {
    width: 100%;
    height: 48px;
    text-align: center;
    overflow: hidden;
    line-height: 48px;
    z-index: 3;
    /*background-image: linear-gradient(#ff7f00,#7f7f7f);*/
    overflow-x: visible;
}
.FT-header_container {
    min-width: inherit;
    height: 100%;
}
.FT-header_container >*{
    display: inline;	
}
.toolbar-left {
    float: left;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
}
/*
.toolbar-left >*{
     min-height: 48px;
}*/
.toolbar-logo *{
    width: 100px;
    height: 48px;
    float: left;
}
.toolbar-center {
	/*
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
	*/
	/*
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    box-sizing: border-box;
    height: 100%;
	*/
	
}/*
.toolbar-right >*{
     min-height: 48px;
}*/
.toolbar-right {
    float: right;
    padding-left: 24px;
    padding-right: 24px;
    height: 100%;
}/*
.toolbar-right >*{
    min-height: 48px;
}*/
.toolbar-left-menus{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    height: 100%;
}
.toolbar-left-menus >*{
    min-width: 120px;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    float: left;
}
.toolbar-right-onlyUser{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    float: right;
    height: 100%;
}
.toolbar-right-onlyUser >*{
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 120px;
    float: right;
}

.FT-body {
    width: 100%;
	max-width: 1200px;
    z-index: 2;
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.FT-footer {
    width: 100%;
    height: 64px;
    z-index: 1;
    text-align: center;
}
.index-sidebar {
    width: 300px;
    max-width: 30%;
    min-width: 150px;
    height: inherit;
    float: left;
    overflow-y: auto;
}
.sidebar-browse >*{
    margin-bottom: 15px;
	border-radius: 16px;
}
.sidebar-checkbox >ul{
    list-style-type: none;
}
.sidebar-checkbox_single >*{
	/*单选列表父容器用*/
	display: list-item;
}
.sidebar-checkbox_multiple >*{
	/*多选列表父容器用*/
	display: list-item;
}
.file-choose{
    height: inherit;
    width: 100%;
    background-color: #797979;
    overflow-y: auto;
    overflow-x: hidden;
    border: thick solid #797979;
}
.file-choose-filter {
    margin-left: 10px;
    margin-right: 10px;
}